body {
  padding-top: 80px;
}

@media (max-width: 676px) {
  .card-columns {
    column-count: 1 !important;
  }
}

@media (min-width: 676px) {
  .mais-noticias .card-columns {
    column-count: 3 !important;
  }
  .card-columns {
    column-count: 1 !important;
  }
}

@media (min-width: 992px) {
  .mais-noticias .card-columns {
    column-count: 4 !important;
  }
  .card-columns {
    column-count: 2 !important;
  }
}

@media (min-width: 600px) {
  .navbar {
    max-height: 80px;
    transition: max-height 0.25s ease-in;
  }
  .small {
    max-height: 50px;
    transition: max-height 0.25s ease-in;
  }

  .small svg {
    display: none !important;
  }

  .small h5 {
    display: none;
  }
  .small small {
    display: none;
  }
}
