$primary: #275e87;
$secondary: #f89700;
$light: #e0e0e0;
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  padding-top: 100px;
}

#links-rapidos {
  a {
    max-width: 68px;
    max-height: 68px;
  }
}

#areas li {
  display: inline;
}

@include media-breakpoint-down(md) {
  .card-columns {
    column-count: 1 !important;
  }
  #botoes-area {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 70px;
  }
}
@include media-breakpoint-up(md) {
  .mais-noticias .card-columns {
    column-count: 4 !important;
  }
  .card-columns {
    column-count: 2 !important;
  }
  #botoes-area {
    margin-top: -40px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 70px;
  }
  .navbar {
    max-height: 80px;
    transition: max-height 100ms linear;
  }
  .small {
    max-height: 50px;
    svg {
      display: none !important;
    }
    h5 {
      display: none;
    }
    small {
      display: none;
    }
    .mais-noticias {
      .card-columns {
        column-count: 4 !important;
      }
    }
    .card-columns {
      column-count: 2 !important;
    }
  }
}

#rodape {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}
