$primary: #275e87;
$secondary: #f89700;
$light: #e0e0e0;
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    padding-top: 110px;
}

@include media-breakpoint-down(sm) {
    .sm-hide {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    .sm-show {
        display: none;
    }
}


.footer-copyright {
    background-color: #212529;
    a {
        color: #275e87;
    }
}

#img-noticia {
    height: 20rem;
}

.fit-image-aluno {
    height: 250px;
    object-fit: cover;
    // object-position: top;
}

.fit-image-noticia {
    height: 10rem;
    object-fit: cover;
}

.max-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1.5em;        /* fallback */
    max-height: calc(1.5em*3);       /* fallback */
 }

.banner {
    height: 20rem;
    object-fit: cover;
    //text-shadow: 1px 1px 4px black; 
}

.carrossel-legenda {
    background-color: #212529da;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 3px;
}

.botao-item {
    height: calc(20rem/3);
    display: flex;
    align-items: center;
}

.botao-item:hover {
    background-color: #e0e0e03b;
}

.pointer {
    cursor: pointer;
}

.img-docente {
    width: 230px;
    height: 230px;
    object-fit: cover;
    object-position: top;
}

.card-img-rounded {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}

.card-img-researchers {
    width: 125px;
    height: 125px;
    object-fit: cover;
}

.links-rapidos {
    max-width: 68px;
    max-height: 68px;
    object-fit: cover;
}

@include media-breakpoint-down(sm) {
    #breadcrumb {
        padding-bottom: 10px;

        .divider-breadcrumbs {
            margin-right: 10px;
            padding: 1px 8px 1px 8px;
            align-self: center;
        }

        .item-breadcrumb {
            display: flex;
            margin-right: 10px;
            margin: 5px;

            a {
                line-height: 20px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .card-columns {
        column-count: 1 !important;
    }

    #botoes-area {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 70px;
    }
}

.navbar {
    transition: min-height 100ms linear;
}

@include media-breakpoint-up(md) {
    #botoes-area {
        margin-top: -120px;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 80px;
    }
}

@include media-breakpoint-up(sm) {
    .mais-noticias .card-columns {
        column-count: 4 !important;
    }

    .card-columns {
        column-count: 2 !important;
    }

    .navbar {
        min-height: 80px;
    }

    .navbar.navbar-small {
        min-height: 50px;

        .nav-link>svg {
            display: none !important;
        }

        h5 {
            display: none;
        }

        .navbar-brand small {
            display: none;
        }
    }

    .mais-noticias {
        .card-columns {
            column-count: 4 !important;
        }
    }

    .card-columns {
        column-count: 2 !important;
    }
}

@include media-breakpoint-down(sm) {
    .card-breakpoint {
        width: 100%;
        text-align: center;
    }

    .card-sm-align-center {
        margin: 0 auto;
    }
}


#rodape {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.item-breadcrumb {
    display: inline-block;
    list-style: none;
    margin-right: 20px;

    a {
        line-height: 80px;
    }
}

.divider-breadcrumbs {
    display: inline !important;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    margin-right: 20px;
}

.card {
    a {
        text-decoration: none;
    }
}

.hoverable {
    transition: all linear 300ms;

    &:hover {
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
        border-color: rgba(0, 0, 0, 0.3);
    }
}

.btn-white {
    background-color: white;
    color: $primary;

    &:hover {
        background-color: $light;
    }
}

.badge-extra-light {
    color: #212529;
    background-color: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

button.nav-link {
    background: white;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
