#botoes-area {
    border: 2px solid !important;
  }
  #botoes-area a:nth-child(1) button {
    content: '';
    border-radius: 15px 0 0 15px;
  }
  #botoes-area a:nth-child(2) button {
    content: '';
    border-radius: 0;
  }
  #botoes-area a:nth-child(3) button {
    content: '';
    border-radius: 0 15px 15px 0;
  }

